.hero__container {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  padding: 0 130px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../../../images/hero-phone-desktop.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}

@media (max-width: 1024px) {
  .hero__container {
    background-position: 50% bottom;
  }
}

@media (max-width: 900px) {
  .hero__container {
    padding: 0 20px;
    background-size: auto 70vh;
  }
}

@media (max-width: 685px) {
  .hero__container {
    background-size: auto 68vh;
    background-position: 70% bottom;
  }
}

@media (max-width: 425px) {
  .hero__container {
    background: url(../../../images/hero-phone-mobile.png);
    background-position: center 25.5%;
    background-repeat: no-repeat;
    justify-content: flex-start;
  }
}
