.hero__text-context {
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media (max-width: 900px) {
  .hero__text-context {
    gap: 39px;
  }
}

@media (max-width: 425px) {
  .hero__text-context {
    padding-top: 29px;
    align-items: center;
    gap: 20px;
  }
}
